@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

:root {
    --main-color: #E7332B;
    --secondary-color: #EB5850;
    --Dark-gray: #514949;
    --white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Averta', sans-serif;
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
}